<div class="card">
<div class="card-body">
<div class="card-title"><h2>Offer a ride</h2></div>
<%= render "form", ride: @ride, action: "create_offer" %>
<%= link_to "offer from all rides", "/rides"%>
</div>